---
// Signup Modal
// ------------
// Description: A modal with a form to sign up.

// Components
// - UI
import Modal from '../../ui/Modal.astro'
import Form from '../../ui/forms/Form.astro'
import FormField from '../../ui/forms/partials/FormField.astro'
import InputField from '../../ui/forms/form-elements/InputField.astro'
import Button from '../../ui/Button.astro'
import { Icon } from 'astro-icon/components'

// Props

type Props = {
	classes?: string
}
const { classes } = Astro.props
---

<Modal id="signup" classes={classes} title="Sign up">
	<p class="mb-0">Enter your email below to get started with Oobbau.</p>

	<Form id="signupForm">
		<FormField>
			<InputField type="email" id="email" label="Your Email" />
		</FormField>

		<Button style="primary" type="submit" classes="w-full" size="lg"> Sign up </Button>
	</Form>
</Modal>

<script is:inline>
	document.getElementById('signupForm').addEventListener('submit', async (e) => {
		e.preventDefault() // prevent normal form submit

		const email = document.getElementById('email').value

		// BASIC VALIDATION
		if (!email) {
			alert('Please enter your email.')
			return
		}

		// API CALL EXAMPLE
		try {
			const res = await fetch('https://n8n.zerocac.com/webhook/oobau-Inbound', {
				method: 'POST',
				headers: { 'Content-Type': 'application/json' },
				body: JSON.stringify({ email })
			})

			if (!res.ok) throw new Error('Signup failed')

			alert('Call booked')
			window.location.href = '/'
		} catch (err) {
			console.error(err)
			alert('Something went wrong. Try again.')
		}
	})
</script>
